.ligth-mode * {
    --bg-app-color: #f5f5f5;
    --white-bg-color: #FBFBFB;
    --gray-bg-icon-color: #b1b1b1;
    --blue-color: #2E8DFF;
    --gray-icon-color: #B1B1B1;
    
    // font
    --font-color-label: #1E1F26;
    --font-size-h1: 24px;
    --font-size-h1-toolbar: 16px;
    --font-size-subtitle-toolbar: 8px;
    --box-shadow-card: 0px 2px 24px rgba(17,17,17,0.04);
    --box-shadow-card-v2: 0px 0px 16px rgba(17,17,17,0.16);
}

.dark-mode * {
    --bg-app-color: #1a1a1a;
    --white-bg-color: #333333;
    --gray-bg-icon-color:  #b1b1b1;
    --blue-color: #2E8DFF;
    --gray-icon-color: #B1B1B1;

    // font
    --font-color-label: #FBFBFB;
    --font-size-h1: 24px;
    --font-size-h1-toolbar: 16px;
    --font-size-subtitle-toolbar: 8px;
    --box-shadow-card: 0px 2px 24px #111;
    --box-shadow-card-v2: 0px 0px 16px #111;
}

* {
    --safe-top: var(--safe-area-inset-top);
    font-family: 'Rubik';
    letter-spacing: 0;
}

.v-switch--inset .v-switch__thumb{
    transform: none !important;
    transform: scale(0.8) !important;
}

// snack-bar
.v-overlay__content {
    // min-width: 200px;
    // width: 98%;
    // display: flex;
    .v-snackbar__content{
        .contain-ico {
            display: flex;
            margin-right: 5px;
            .v-icon {
                margin: auto;
            }
        }
    }
}